/* Menu Bar */
.menu {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.menu button {
  background: transparent;
  border: none;
}

/* Search Bar */
.search {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 40px;
  gap: 10px;
}

.search input {
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 15px;
  width: 250px;
  background: #f1f1f1;
}

.search button {
  border: none;
  border-radius: 5px;
  width: 50px;
  background: #f1f1f1;
}

/* Chords Component */
.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 1rem;
}

.controls button {
  background: transparent;
  color: white;
  border: none;
}

#add-song-button {
  width: 56px;
  height: 56px;
  border: none;
  border-radius: 50%;
  background: white;
  color: #1f1f1f;
}

/* Home Page */
.no-chords {
  text-align: center;
}

/* SwiperJS */
.chord-swiper-container {
  width: 100%;
  height: 350px;
  padding: 20px 0;
}

.chord-swiper-slide {
  max-width: 190px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0.4;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.chord-swiper-slide.swiper-slide-active {
  opacity: 1;
}

.chord-swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chord-swiper-slide h2 {
  position: absolute;
  top: 0;
}

.carousel-container::-webkit-scrollbar {
  display: none;
}

.carousel-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Nav Bar */
nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  bottom: 0;
  position: absolute;
}

nav .link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-align: center;
  color: #4f4f4f;
  padding: 10px;
  border: none;
  background-color: transparent;
  transition: color 0.4s ease;
}

nav .link.active {
  background: radial-gradient(circle at bottom, #1f1f1f, black 60%);
  color: #f1f1f1;
}

nav .link:active {
  background: transparent;
}

/* Song List Page */
.list-page {
  position: relative;
}

.songs-title {
  padding: 1rem;
}

.song-list {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.song-list-item {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 16px;
}

.add-button {
  padding: 12px;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

/* Song Detail Page */
.not-found {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.not-found a {
  text-decoration: underline;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.top-bar button {
  background: transparent;
  border: none;
  color: #f1f1f1;
}

.details-title {
  padding: 1rem;
}

.diagrams {
  display: flex;
  justify-content: center;
}

.diagram {
  max-width: 100px;
  min-width: 100px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.diagram span {
  position: absolute;
  top: -10px;
}

.add-chords-label {
  text-align: center;
  margin-top: 60px;
}