/* Menu Bar */
.menu {
  padding: 10px;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

.menu button {
  background: transparent;
  border: none;
}

/* Search Bar */
.search {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search input {
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 15px;
  width: 250px;
  background: #f1f1f1;
}

.search button {
  border: none;
  border-radius: 5px;
  width: 50px;
  background: #f1f1f1;
}

/* Chords Component */
.chords-component {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  position: relative;
}

/* Home Page */
.no-chords {
  text-align: center;
}

/* SwiperJS */
.chord-swiper-slide {
  max-width: 190px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0.4;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.chord-swiper-slide.swiper-slide-active {
  opacity: 1;
}

.chord-swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chord-swiper-slide h2 {
  position: absolute;
  top: -6px;
}

.carousel-container::-webkit-scrollbar {
  display: none;
}

.carousel-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Nav Bar */
nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  bottom: 0;
  position: absolute;
}

nav .link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-align: center;
  color: #4f4f4f;
  padding: 10px;
  border: none;
  background-color: transparent;
  transition: color 0.4s ease;
}

nav .link.active {
  background: radial-gradient(circle at bottom, #1f1f1f, black 60%);
  color: #f1f1f1;
}

nav .link:active {
  background: transparent;
}

/* Song List Page */
.song-list-page {
  max-height: 93vh;
  overflow-y: scroll;
}

.songs-title {
  padding: 1rem;
}

.song-list {
  list-style: none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.song-list-item, .add-button {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 16px;
}

.add-button {
  padding: 12px;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.confirmation-popup {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirmation-popup #box {
  width: 300px;
  height: 100px;
  background: black;
  border: 1px solid #ccc2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .6rem;
}

.confirmation-popup #buttons {
  display: flex;
  justify-content: end;
  gap: 1.4rem;
}

.confirmation-popup button {
  background-color: transparent;
  color: white;
  border: none;
}

.confirmation-popup #delete {
  color: red;
}

.confirmation-popup h3 {
  padding: .6rem;
}

.empty-list-label {
  padding: 1rem;
}

/* Song Detail Page */
.not-found {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.not-found a {
  text-decoration: underline;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.top-bar button {
  background: transparent;
  border: none;
  color: #f1f1f1;
}

.top-bar .edit-mode-button {
  background-color: white;
  color: black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.details-title {
  padding: 1rem;
  margin-bottom: 2rem;
}

.details-title-input {
  max-width: 80vw;
  font-size: 30px;
  font-weight: bolder;
  margin: 0 1rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
  background: transparent;
  color: white;
  border: none;
}

.diagrams {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  transition: all .3s ease-in-out;
}

.diagram {
  max-width: 100px;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.diagram span {
  position: absolute;
  top: -10px;
}

.add-chords-label {
  text-align: center;
  margin: 10px 0;
}

.edit-mode-section {
  margin-top: 2rem;
  margin-bottom: 8rem;
}

.edit-mode-section #label {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .4;
  margin-top: 3rem;
}

.edit-mode-section hr {
  margin: .8rem 1rem;
  margin-bottom: 3rem;
  opacity: .2;
}

/* Simple Controls */
.simple-controls {
  position: absolute;
  bottom: -80px;
  right: 50%;
  translate: 50%;
  padding: 1rem;
}

.simple-controls button {
  width: 100px;
  height: 40px;
}